# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.esm-cache/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
build/
*.egg-info/

# OS / System
.DS_Store
Thumbs.db
.idea/
.vscode/
